<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Recomendação</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="conteudo">

    <h1>Cadastro de Recomendação</h1>

    <!-- Mensagem de sucesso -->
    <div th:if="${mensagem}" class="alert alert-success" role="alert">
        <p th:text="${mensagem}">Recomendação cadastrada com sucesso!</p>
    </div>

    <!-- Formulário de cadastro da recomendação -->
    <form th:action="@{/recomendacao/cadastrar}" th:object="${recomendacao}" method="post">
        <div class="mb-3">
            <label for="observacao" class="form-label">Observação</label>
            <input type="text" class="form-control" id="observacao" th:field="*{observacao}" placeholder="Informe a observação">
            <div th:if="${#fields.hasErrors('observacao')}" class="text-danger" th:errors="*{observacao}"></div>
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data da Recomendação</label>
            <input type="date" class="form-control" id="data" th:field="*{data}" placeholder="Informe a data">
            <div th:if="${#fields.hasErrors('data')}" class="text-danger" th:errors="*{data}"></div>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" th:field="*{status}" placeholder="Informe o status">
            <div th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
