<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1 class="d-flex justify-content-center text-center">Bem-vindo ao EnergyMI</h1>

    <br>
    <h3 class="d-flex justify-content-center text-center">Sobre nós</h3>
    <p class="d-flex justify-content-center text-center">
        Bem-vindo ao nosso sistema de monitoramento de consumo de energia! Nossa missão é promover eficiência energética de maneira inteligente e personalizada. Desenvolvemos uma solução inovadora para coletar, processar e analisar dados em tempo real sobre o consumo de energia dos aparelhos, identificando ineficiências e sugerindo melhorias práticas para cada ambiente.
        Nosso sistema utiliza sensores inteligentes conectados aos aparelhos, que coletam informações detalhadas, como o horário de uso e padrões de consumo. Esses dados são enviados para uma plataforma central equipada com algoritmos avançados de inteligência artificial e machine learning, que realizam análises precisas e multidimensionais.
        Através dessa tecnologia, conseguimos monitorar o desempenho dos equipamentos, compará-los com benchmarks de eficiência energética e prever o consumo futuro. Isso nos permite fornecer recomendações personalizadas para otimizar o uso, reduzir gastos, antecipar picos de demanda e até mesmo identificar falhas em aparelhos que consomem mais energia do que o necessário.
        Nosso objetivo é transformar dados em insights valiosos, ajudando você a economizar energia, reduzir custos e adotar práticas mais sustentáveis. Faça parte dessa revolução e descubra como a tecnologia pode impulsionar a eficiência no seu dia a dia!
    </p>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
