<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1 class="d-flex justify-content-center text-center">Bem-vindo ao EnergyMI</h1>

    <br>
    <h3 class="d-flex justify-content-center text-center">Sobre nós</h3>
    <p class="d-flex justify-content-center text-center">Lorem ipsum dolor sit amet. Eos minus accusamus qui sequi numquam et accusantium quaerat. Est modi soluta aut corrupti laboriosam et galisum iste sit blanditiis sunt ab laudantium sint. Et voluptates adipisci sed ipsum voluptas ea tenetur minima ad rerum quam qui libero sunt ea excepturi laborum. Qui placeat quia aut animi fugit sed nesciunt voluptates.</p>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
