<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <br>
    <h1 class="d-flex justify-content-center text-center" >EnergyMI</h1>
    <h2>Faça seu Login!</h2>
    <br>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label>Usuário</label>
            <input type="text" name="username" class="form-control" placeholder="digite seu nome de usuario">
        </div>
        <div class="mb-3">
            <label>Senha</label>
            <input type="password"  name="password" class="form-control" placeholder="digite sua senha">
        </div>
        <button class="mb-3 btn btn-dark">Entrar</button>
    </form>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>