<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alerta</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="conteudo">

    <h1>Cadastro de Alerta</h1>

    <div th:if="${mensagem}" class="alert alert-success" role="alert">
        <p th:text="${mensagem}">Alerta cadastrado com sucesso!</p>
    </div>

    <form th:action="@{/alerta/cadastrar}" th:object="${alerta}" method="post">
        <div class="mb-3">
            <label for="observacao" class="form-label">Observação</label>
            <input type="text" class="form-control" id="observacao" th:field="*{observacao}" placeholder="Informe a observação">
            <div th:if="${#fields.hasErrors('observacao')}" class="text-danger" th:errors="*{observacao}"></div>
        </div>
        <div class="mb-3">
            <label for="prioridade" class="form-label">Prioridade</label>
            <input type="text" class="form-control" id="prioridade" th:field="*{prioridade}" placeholder="Informe a prioridade">
            <div th:if="${#fields.hasErrors('prioridade')}" class="text-danger" th:errors="*{prioridade}"></div>
        </div>
        <div class="mb-3">
            <label for="dataCriacao" class="form-label">Data de Criação</label>
            <input type="date" class="form-control" id="dataCriacao" th:field="*{dataCriacao}" placeholder="Informe a data de criação">
            <div th:if="${#fields.hasErrors('dataCriacao')}" class="text-danger" th:errors="*{dataCriacao}"></div>
        </div>
        <div class="mb-3">
            <label for="aparelho" class="form-label">Aparelho</label>
            <select class="form-control" id="aparelho" th:field="*{aparelho.id}">
                <option value="" disabled selected>Selecione um aparelho</option>
                <option th:each="aparelho : ${aparelhos}" th:value="${aparelho.id}" th:text="${aparelho.nome}"></option>
            </select>
            <div th:if="${#fields.hasErrors('aparelho.id')}" class="text-danger" th:errors="*{aparelho.id}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
