<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalhes do Alerta: ' + ${alerta.id}">Detalhes do Alerta</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-4">
    <h1>Detalhes do Alerta</h1>
    <p><strong>ID do Alerta:</strong> <span th:text="${alerta.id}"></span></p>
    <p><strong>Observação:</strong> <span th:text="${alerta.observacao}"></span></p>
    <p><strong>Nível de Prioridade:</strong> <span th:text="${alerta.prioridade}"></span></p>
    <p><strong>Data de Criação:</strong> <span th:text="${#temporals.format(alerta.dataCriacao, 'dd/MM/yyyy')}"></span></p>
    <p><strong>Aparelho:</strong> <span th:text="${alerta.aparelho.nome}"></span></p>

    <a th:href="@{/alerta/listar}" class="btn btn-secondary">Voltar para a lista de alertas</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
