<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Editar Alerta</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Editar Alerta</h1>
    <form th:action="@{/alerta/editar}" th:object="${alerta}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <input th:field="*{id}" type="hidden"/>

        <div class="mb-3">
            <label class="form-label">Observação</label>
            <input class="form-control" th:field="*{observacao}" type="text" id="observacao" placeholder="Informe a observação" >
            <p th:if="${#fields.hasErrors('observacao')}" class="text text-danger" th:errors="*{observacao}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Prioridade</label>
            <input class="form-control" th:field="*{prioridade}" type="text" id="prioridade" placeholder="Informe o nível de prioridade" >
            <p th:if="${#fields.hasErrors('prioridade')}" class="text text-danger" th:errors="*{prioridade}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Alerta</label>
            <input class="form-control" th:field="*{dataCriacao}" type="date" id="dataCriacao" >
            <p th:if="${#fields.hasErrors('dataCriacao')}" class="text text-danger" th:errors="*{dataCriacao}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Aparelho</label>
            <select th:field="*{aparelho.id}" class="form-select">
                <option value="">Selecione</option>
                <option th:each="aparelho : ${aparelhos}"
                        th:value="${aparelho.id}"
                        th:text="${aparelho.nome}"></option>
            </select>
        </div>

        <button class="btn btn-success">Salvar</button>

        <br>
        <p th:text="${mensagem}"></p>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
